                <a class="btn btn-outline-primary" href="{{ path('app_admin_dashboard') }}">Panel de Admin</a>
                <a class="btn btn-outline-primary position-relative" href="{{ path('app_cliente_cart_index') }}">
                    <i class="bi bi-cart"></i> 
                    <span class="badge text-bg-secondary">{{ carrito_articulos_totales }}</span>    
                    </span>
                </a>
                <a class="btn btn-outline-primary" href="{{ path('app_cliente_dashboard') }}">Mi Cuenta</a>
