<a class="btn btn-outline-primary position-relative" href="{{ path('app_cliente_cart_index') }}">
    <i class="bi bi-cart"></i> 
        <span class="badge text-bg-secondary">{{ carrito_articulos_totales }}</span>
</a>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="userMenuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Mi Cuenta
    </button>
    <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
        {% block menu_items %}{% endblock %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
    </ul>
</div>