{# _menu_cliente.html.twig #}
{% extends 'partials/_menu_base.html.twig' %}

{% block menu_items %}
    <li><a class="dropdown-item" href="{{ path('app_vendedor_dashboard') }}">Dashboard</a></li>
    <li><a class="dropdown-item" href="{{ path('app_vendedor_clientes_pedido_index') }}">Mis Pedidos</a></li>
    <li><a class="dropdown-item" href="#">Favoritos</a></li>
{% endblock %}