<form method="post" action="{{ path('app_admin_subrubro_delete', {'codigo': subrubro.codigo}) }}" 
      onsubmit="return confirm('¿Está seguro que desea eliminar este subrubro?');" 
      style="display: inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subrubro.codigo) }}">
    <button class="btn btn-sm btn-danger">
        <i class="bi bi-trash"></i>
    </button>
</form> 