{% extends 'base.html.twig' %}

{% block title %}Asistente Virtual{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/asistente-chat.css') }}">
{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-robot"></i> Asistente Virtual Ciardi Hnos
                </div>
                <div class="card-body p-0">
                    <div id="chatContainer" class="asistente-chat-container"></div>
                </div>
                <div class="card-footer bg-light">
                    <form id="formChat" autocomplete="off" class="d-flex gap-2">
                        <input type="text" id="inputMensaje" class="form-control" placeholder="Escribe tu mensaje..." required autofocus>
                        <button type="submit" id="btnEnviar" class="btn btn-primary">
                            <i class="bi bi-send"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ asset('js/asistente-chat.js') }}"></script>
{% endblock %} 