
        <a class="btn btn-outline-primary" href="{{ path('app_vendedor_dashboard') }}">Dashboard</a>
        <a class="btn btn-outline-primary" href="{{ path('app_vendedor_clientes_pedido_index') }}">Pedidos</a>
