{# filepath: templates/emails/pedido_notification.html.twig #}
{% extends 'emails/base.html.twig' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block body %}
    <div class="header">
        <h2>Nuevo Pedido #{{ pedido.id }}</h2>
        
        {% if recipient == 'vendedor' %}
            <p>Estimado vendedor, se ha registrado un nuevo pedido de tu cliente:</p>
        {% elseif recipient == 'logistica' %}
            <p>Estimado responsable de logística, se ha registrado un nuevo pedido que requiere procesamiento:</p>
        {% endif %}
    </div>

    <div>
        <h3>Datos del cliente:</h3>
        <p><strong>Cliente:</strong> {{ pedido.cliente.razonSocial }}</p>
        <p><strong>Email:</strong> {{ pedido.cliente.email }}</p>
        <p><strong>Teléfono:</strong> {{ pedido.cliente.telefono|default('No disponible') }}</p>
    </div>

    {% include 'emails/_pedido_details.html.twig' %}

    <div>
        
    </div>
{% endblock %}